<div class="justify-center max-h-full mt-20">
  <div class="justify-center place-content-evenly">
    <div class="w-full px-4 lg:order-1 bg-gray-200 rounded-md object-top">
      <div class="flex justify-center py-4 lg:pt-4 pt-8 top-0">
        <div class="mr-4 p-3 text-center">
          <%= content_tag :p, "My Media Folders", class: "text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"%>
        </div>
        <div class="mr-4 p-3 text-center">
          <%= content_tag :span, @num_folders, class: "text-xl font-bold block uppercase tracking-wide text-blueGray-600"%>
          <span class="text-sm text-blueGray-400">Folders</span>
        </div>
      </div>
    </div>
    <div class="bg-gray-200 px-3 pb-6 rounded-md pt-0.5 mt-3 relative">
      <div class="">
        <div class="mt-6 mb-3">
          <div class="grid grid-flow-col auto-cols-max font-bold uppercase">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
            </svg>
            <% (0..@split_dir.length - 1).each { |count| %>
              <%= link_to @split_dir[count], file_transfer_index_path(path: @split_dir[0..count].join("/")), class: "text-blue-400 text-xl hover:text-blue-500 mx-2"%>
              <%= if count < @split_dir.length - 1
                    content_tag :p, ">"
                  end %>
            <% } %>
          </div>
          <div class="w-full mt-5 space-x-4 justify-between flex">
            <div>
              <%= if @current_hash[:files].length > 1
                link_to "Download All", download_all_path(directory: @current_dir), target: "_blank", class: "bg-button-primary inline-flex uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 my-3 ease-linear transition-all duration-150"
              else
                content_tag :button, "No Files to Download", :disabled =>true, class: "bg-button-disabled bg-button-primary uppercase text-white font-bold shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 my-3 ease-linear transition-all duration-150"
              end %>
<!--              <button type="button" id="check_all" class="btw"><%#="Check all/Uncheck all"%></button>-->
            </div>
            <div>
              <%= form_tag(file_transfer_upload_path, :multipart => true) do %>
              <%= file_field_tag 'upload_files[]', :multiple => true%>
              <%= hidden_field_tag(:directory, @current_dir) %>
              <%=submit_tag 'Submit Selected Files', class: "inline bg-button-primary uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 my-3 ease-linear transition-all duration-150"%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="h-5/6">
          <div class="w-full h-144 overflow-y-scroll overscroll-contain overflow-hidden">
            <table class="w-full">
              <thead class="bg-green-500 text-white w-auto sticky top-0">
                <tr>
                  <th class="px-4 py-2 w-10">Select</th>
                  <th class="px-4 py-2 flex justify-left">Name</th>
                  <th class="px-4 py-2 w-10">Size</th>
                  <th class="px-4 py-2 w-1/6">Contributor(s)</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-400">
                <% @current_hash[:children].each do |child| %>
                  <tr class="even:bg-gray-200">
                    <td class="">
                      <p class="flex text-2xl justify-center">-</p>
                    </td>
                    <td class="px-4 py-2 justify-self-center">
                      <div class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
                        </svg>
                        <%= link_to child[:path][child[:path].rindex("/") + 1..], file_transfer_index_path(path: child[:path]), class: "text-blue-400 hover:text-blue-500 mx-2"%>
                      </div>
                    </td>
                    <td>
                      <%= content_tag :p, number_to_human_size(child[:size]), class: "flex justify-center" %>
                    </td>
                    <td>
                      <%= content_tag :p, child[:uploader], class: "flex justify-center" %>
                    </td>
                  </tr>
                <%- end %>
                <% @current_hash[:files].each do |file| %>
                  <tr class="even:bg-gray-300">
                    <td class="px-8 font-medium">
                      <%= check_box_tag "files[]", file[:path], false, class: "self-center checkbox" -%>
                    </td>
                    <td class="flex justify-left">
                      <%= link_to file[:path], download_path(file: file[:path], directory: @current_dir), target: "_blank", class: "text-blue-600 hover:text-blue-800 visited:text-purple-600"%>
                    </td>
                    <td>
                      <%= content_tag :p, number_to_human_size(file[:size]), class: "flex justify-center" %>
                    </td>
                    <td>
                      <%= content_tag :p, file[:uploader], class: "flex justify-center" %>
                    </td>
                  </tr>
                <%- end %>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<script type='text/javascript'>-->
<!--    $(document).ready(function(){-->
<!--        $('#check_all').on("click", function() {-->
// grouping all the checkbox using the classname
<!--            let checkboxes = $("file_select_checkbox");-->
// check whether checkboxes are selected.
<!--            if(checkboxes.prop("checked")){-->
// if they are selected, unchecking all the checkbox
<!--                checkboxes.prop("checked",false);-->
<!--            } else {-->
// if they are not selected, checking all the checkbox
<!--                checkboxes.prop("checked",true);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--<style>-->
<!--    .btn {-->
<!--        @apply inline-flex uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 my-3 ease-linear transition-all duration-150;-->
<!--    }-->
<!--</style>-->