<!DOCTYPE html>
<html>
  <head>
    <title>NAS Webserver</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <main>
        <nav class="top-0 absolute z-50 w-full bg-blue-500 flex-wrap items-center justify-between px-2 py-3">
          <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between">
              <p class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase" >Data Exchange
              </p>
              <div>
                <%= if is_admin?
                      link_to "Admin Page", user_manage_path, class: "bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    end%>
                <a class=" uppercase text-white font-bold hover:shadow-lg shadow text-xs px-0 py-0 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150">Folders</a>
              </div>
              <div class="">
                <%= if @user != nil
                  link_to @user[:username], @user, class: "uppercase text-white font-bold text-xs px-4 py-2 sm:mr-2 mb-1"
                end%>
                <%= if @user != nil
                  link_to "Log out", "/sessions", method: "delete", class: "bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                end%>
              </div>
            </div>
          </div>
        </nav>
        <section class="absolute w-full h-full bg-green-300">
          <div class="container mx-auto px-4 h-full">
            <%= yield %>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
