<!DOCTYPE html>
<html>
  <head>
    <title>Williamandfriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-fixed bg-home bg-coover bg-no-repeat bg-center">
    <div class="mt-3">
      <main>
        <nav class="top-0 absolute z-50 w-full flex-wrap items-center justify-between px-2">
          <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between mt-2">
              <p class="text-white text-xs font-bold leading-relaxed inline-block whitespace-nowrap uppercase md:text-lg" >Data Exchange
              </p>
              <div>
                <%= if @user != nil
                      link_to @user[:username], @user, class: "uppercase text-white font-bold text-md px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    end%>
                <%= if @user != nil
                      link_to "Logout", "/sessions", method: "delete", class: "bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    end%>
                <%= if @user == nil
                      link_to "Login", new_session_path, class: "bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    end%>
              </div>
            </div>
            <div class="mx-auto rounded mb-6">
              <ul id="tabs" class="inline-flex w-full px-1 pt-2">
                <li class="px-4 py-1 font-semibold text-white rounded-t <%= 'border-b-4' if current_page?(new_session_path)%>">
                  <%= if @user == nil
                    link_to "Login", new_session_path
                  end%>
                </li>
                <li class="px-4 py-1 font-semibold text-white rounded-t <%= 'border-b-4' if current_page?(file_transfer_index_path)%>">
                  <%= link_to "Media", file_transfer_index_path%>
                </li>
                <li class="px-4 py-1 font-semibold text-white rounded-t <%= 'border-b-4' if current_page?(about_index_path)%>">
                  <%= link_to "About", about_index_path%>
                </li>
                <li class="px-4 py-1 font-semibold text-white rounded-t <%= 'border-b-4' if current_page?(admin_index_path) or current_page?(admin_show_path)%>">
                  <%= if is_admin?
                    link_to "Admin Page", admin_index_path
                  end%>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <section class="absolute w-full h-screen mt-3">
          <div class="container mx-auto px-4 h-full">
            <%= yield %>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
